<!-- views/partials/header.ejs -->

<nav>
  <ul>
    <li><a href="/">Home</a></li>

    <%if (!user){ %>
    <li style="float:right"><a href="/api/discord/login">Login </a></li>
    <% }else{ %>
    <li style="float:right"><a href="/">log out</a></li>
    <%} %>
  </ul>
</nav>
